@using Questionary.Models

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Questionary", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                @if (Athorization.AuthorizationCheck())
                {
                    <li>@Html.ActionLink("Edit", "Edit", "Account")</li>
                    <li>@Html.ActionLink("Profile", "Profile", "Account")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Registration", "Registration", "Account")</li>

                }
                </ul>
                @if(!Athorization.AuthorizationCheck())
                {
                    <button type="button" class="form-control btn btn-primary" onclick="ShowLogin()" style="width:100px;margin-top: 7px;float: right;">LOGIN</button>
                }
                else
                {
                    <form class="form-inline" action="@Url.Action("Logout", "Account")" >
                        <h3 style="color: white;float: right;margin-top: 12px;margin-left: 16px;">@ViewBag.UserName</h3>
                        <button type="submit" class="form-control btn btn-primary" style="width:100px;margin-top: 7px;float: right;">LOGOUT</button>
                    </form>
                }

            </div>
            
            
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – Questionary</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-body">
                    <form class="form-horizontal" method="post" action="@Url.Action("Login", "Account")" style="margin-left: 130px;">
                        <div class="form-group row">
                            <input type="text" class="form-control" name="Login" id="Login" placeholder="Login">
                            <input type="password" class="form-control" name="Password" id="Password" placeholder="Password">
                            <button type="submit" class="form-control btn btn-primary" id="Login">LOGIN</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>


</html>

<script>
    function ShowLogin()
    {
        $('#myModal').modal('show')
    }

    function LogOut() {
        $.get("@Url.Action("LogOut", "Account")", function () {
            
        });
    }

</script>

<style>
    button#Login {
    width: 100px;
    float: right;
    margin-right: 156px;
    }
</style>